<!-- Style code has been altered from https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_active -->
* {
	font-family: Arial;
	margin-left: 30%;
	margin-right: 30%;
}
html {
	height: 100%;
	}

.header {
    padding: 20px;
	height:10%;
    text-align: center;
}
.main {
    padding: 20px;
	/* margin-left: 200px; */
    text-align: left;
	overflow:auto;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3366ff;
}

.nav a {
	float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover:not(.active) {
    background-color: #99b3ff;
}

.active {
    background-color: #0000ff;
	}

<!--footer style-->
.footer{
	display: block;
	text-align:center;
}
.footer a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
footer {	
	text-align:center;
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
    padding: 10px;
	background-color: #3366ff;}
	
img{float: right;
width:200px;
height:260px;
margin-left:15px;}
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons*/
.fa-linkedin {
  background: #007bb5;
  color: white;
}
