<!-- Style code has been altered from https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_active -->
* {
	font-family: Arial;
	margin-left: 30%;
	margin-right: 30%;
}
body, html {
	height: 100%;}
.header {
    padding: 20px;
    text-align: center;
}
.main {
    padding: 20px;
	margin-left: 200px
    text-align: left;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3366ff;
}

.nav a {
	float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover:not(.active) {
    background-color: #99b3ff;
}

.active {
    background-color: #0000ff;
	}

<!--footer style-->
.footer{
	display: block;
	text-align:center;
}
.footer a {
	float: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
footer {	
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
    padding: 10px;
	
	border-top: 1px solid #0000ff;
	border-bottom: 1px solid #0000ff;
	background-color: #3366ff;}
	
img{float: right;
width:200px;
height:260px;
margin-left:15px;}